<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    {% include navigation.html %}
    <script>
    var places = ['malakoff', 'torre-cristal', 'casario', 'carne', 'ponte-boavista'];
var index = 1;

var loop = setInterval(function(){
    $(".place").removeClass("current-place");
    $("."+places[index++]).addClass("current-place");

    index = index == places.length ? 0 : index;
}, 7000);

</script>
    <div class="places">
      <div class="place malakoff">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/01.svg" title="Torre de Malakoff" alt="Torre de Malakoff" class="main-img">
        </div>
      </div>

      <div class="place torre-cristal">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/02.svg" title="Torre de Cristal" alt="Torre de Cristal" class="main-img">
        </div>
      </div>

            <div class="place casario">
              <div class="imgs">
                <img src="{{ site.baseurl }}/img/svg/03.svg" title="Rua da Aurora" alt="Rua da Aurora" class="main-img">
              </div>
            </div>

      <div class="place carne">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/04.svg" title="Carne da Minha Perna" alt="Carne da Minha Perna" class="main-img">
        </div>
      </div>

      <div class="place ponte-boavista">
        <div class="imgs">
          <img src="{{ site.baseurl }}/img/svg/05.svg" title="Ponte da Boa Vista" alt="Ponte da Boa Vista" class="main-img">
        </div>
      </div>
    </div>

    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
            <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>
            <p>{{ site.eventDate }}</p>
            {% for button in site.heroButtons %}
            <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}" class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %}target="_blank"{% endif %}>{{ button.text }}</a>
            {% endfor %}
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->
