<!-- Begin Communities Section -->
<section class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h5>Comunidades Parceiras</h5>
            <p><a href="https://www.facebook.com/groups/pernambucojs/">pernambuco.js</a> &middot; <a href="https://www.facebook.com/cajuvalley?fref=ts">Caju Valley</a> &middot; <a href="https://www.facebook.com/PyLadiesFortaleza">PyLadies Fortaleza</a> &middot; <a href="https://www.facebook.com/caravanaweb">Caravana Web</a> &middot; <a href="http://www.meninastambemjogam.com/meninas/">Meninas Também Jogam</a></p>
        </div>
    </div>
</section>
<!-- End Communities Section -->
